.weather_container {
	width: 100%;
	padding: remy(10) remy(23);

	.title_container {
		margin-bottom: remy(16);

		.title {
			font-size: remy(32);
			margin-bottom: 0rem;
		}
	}

	.input_container {
		width: 100%;
		margin-bottom: remy(20);
	}

	@include desktop {
		max-width: remy(1200);
		margin: remy(8) auto;
	}
}